.LOGO {
	text-align: center;
	align-self: center;
}

#banner {
	background: white;
	text-align: center;
	background-image: url("images/banner.jpg");
	padding-top : 100px;
	padding-bottom: 100px;
}

.container-fluid {
	margin-top:30px;
}


.content {
	text-align: center;
	color: white;
    width: 100%;
    padding: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

p{
	font-family: 'Raleway', sans-serif;
}

.content > h1 {
}

#anchor1 {
	margin-top: 200px;
	margin-bottom: 200px;
}

.convention {
	margin-bottom: 50px;
}

h1 {
	font-size:80px;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

h2{ 
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size:50px;
	margin-top: 50px;

}

h3 {
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}

h4 {
	font-size:80px;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

h5{
	font-size:80px;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

h6{
	font-size:40px;
	color: grey;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

.logo {
	width: 300px;
	text-align: center;
}


#categorie1{
	margin-top: 50px;
}

.card {
	color: #2e3d4d;
	margin-bottom: 20px;
	box-shadow: 2px 2px 10px;

}

img {
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

a {
	margin-bottom: 20px;
	margin-top:10px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	color: white;

}



p {
	text-align: center;
	font-size: 14px;
	margin-right: 20px;
	margin-left: 20px;

}

.container {
	margin-top: 10px;
}


.btn {
	text-decoration: none;
	font-family: 'Nanum Gothic', sans-serif;
	color: black;
	font-size: 20px;
	text-align: center;
}

.button-pink {
  	background :linear-gradient(45deg,#de5480,#fcd49f);
  	text-align: center;
}

.button-light {
	position: absolute;
	align-self :center;
}

.container2 {
	display:flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

#categorie2 {
	background-image: url("images/beaconhills.png");
  	background-size: cover;
  	padding-bottom: 200px;
}	



.title {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size:50px;
	margin-top: 50px;
	padding-top: 100px;

}

.definition{
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 15px;
	margin-right: 100px;
	margin-left: 100px;
	font-size: 20px;
	text-align: justify;
	color: white;
}


#footer{
  text-align: center;
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  margin-top: 100px;
}

#footer a {
  color: lightgrey;
  font-size: 30px;
}
#footer a:hover {
  color: white;
}


#intro {
	background-image: url("images/Hogwarts.png");
	background-size:cover;
	padding-bottom: 100px;
	padding-top: 100px;
}

#intro2 {
	background-image: url("images/heartlandranch.jpg");
	background-size:cover;
	padding-bottom: 100px;
	padding-top: 100px;
}

#intro3 {
	background-image: url("images/derekloft.jpg");
	background-size:cover;
	padding-bottom: 100px;
	padding-top: 100px;
}

#intro4 {
	background-image: url("images/carousel.jpg");
	background-size:cover;
	padding-bottom: 100px;
	padding-top: 100px;
}

.formulaire {
	text-align: center;
}

.accordion {
	margin-top: 60px;
}

.billetterie {
	text-align: center;
}


